@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* font */
    --font-normal: 'Poppins', sans-serif;

    /* size */
    --font-size-normal: .9rem;
    --font-size-big: 1rem;
    --font-size-small: .8rem;
    --height-size: 4rem;

    /* zfixed */
    --zfixed: 100;

    /* colors */
    --back-color: #191C21;
    --back-color-alt: #1E1E20;
    --first-color: #FFC412;
    --first-color-alt: #FFB114;
    --white-color: #F2F2F2;
    --white-color-alt: white;
    --shadow-color: hsla(300, 1.33%, 14.71%, 10%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
}

a{
    text-decoration: none;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img{
    min-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

.container{
    max-width: 1064px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

body{
    background-color: var(--back-color);
    font-size: var(--font-size-normal);
    font-weight: 100;
    color: var(--white-color);
}

/* HEADER  */
.header{

}

/* MOSTRAR MENU */


/* MAIN */


/* HOME */


/* ANIMES */


/* FOOTER */


/* ANIMAÇÕES */


/* QUEBRAS DE LINHA */