@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /* font */
    --font-normal: 'Poppins', sans-serif;

    /* size */
    --font-size-normal: .9rem;
    --font-size-big: 1rem;
    --font-size-small: .8rem;
    --height-size: 4rem;

    /* zfixed */
    --zfixed: 100;

    /* colors */
    --back-color: #090a0c;
    --back-color-alt: #07090a;
    --first-color: #00dcc3;
    --first-color-alt: #00c3ad;
    --second-color: #918bd7;
    --second-color-alt: #736acb;
    --white-color: #F2F2F2;
    --white-color-alt: white;
    --shadow-color: rgba(8, 8, 8, .2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
}

a{
    text-decoration: none;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

.container{
    max-width: 1064px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

body{
    position: relative;
    background-color: var(--back-color);
    font-size: var(--font-size-normal);
    font-weight: 100;
    color: var(--white-color);
    letter-spacing: 1px;
}

/* HEADER  */
.header{
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    background-color: var(--back-color);
    z-index: var(--zfixed);
}

.nav{
    position: relative;
    display: flex;
    height: var(--height-size);
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_close, .nav_toggle{
    display: flex;
}

.nav_logo{
    position: relative;
    color: var(--first-color);
    font-size: var(--font-size-big);
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: color .4s;
}

.nav_logo:hover{
    color: var(--first-color-alt);
}

.nav_logo::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    background: var(--first-color);
    left: -55px;
    bottom: 0;
    border-radius: 4px;
    -webkit-animation: logo 4s ease infinite;
}

.nav_toggle{
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        width: 100%;
        top: -100%; left: 0;
        padding-block: 3rem;
        background: var(--back-color);
        box-shadow: 0 8px 20px var(--shadow-color);
        transition: top .5s;
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
}

.nav_link{
    color: var(--white-color);
    letter-spacing: 1px;
    font-size: var(--font-size-normal);
    transition: color .3s;
}

.nav_close{
    position: absolute;
    right: 1.5rem; top: 1.5rem;
    font-size: 1.2rem;
    color: var(--white-color);
    transition: color .3s;
    cursor: pointer;
}

.nav_link:hover,
.nav_close:hover{
    color: var(--white-color-alt);
}

.entrar{
    color: var(--first-color);
    transition: color .3s;
}

.entrar:hover{
    color: var(--first-color-alt);
}

/* MOSTRAR MENU */
.nav-show{
    top: 0;
}

/* MAIN */


/* HOME */
.home{
    position: relative;
}

.home_container{
    row-gap: 3rem;
    padding-top: 4rem;
}

.home_button{
    display: flex;
    justify-content: center;
}

.home_button a{
    font-size: 3rem;
    color: var(--second-color);
    text-shadow: 0 0 10px var(--shadow-color);
    transition: transform .4s, color .3s;
    cursor: pointer;
}

.home_button a:hover{
    transform: translateY(-.2rem);
    color: var(--second-color-alt);
}

.home_img{
    background: linear-gradient(to left top,
     rgba(8, 8, 8, 1), var(--back-color-alt));
    width: 200px;
    justify-self: center;
    padding: 30px;
    border-radius: 2rem;
    user-select: none;
    box-shadow: 0 0 20px var(--shadow-color);
    transition: transform .4s;
}

.home_img:hover{
    transform: scale(1.05);
}

.home_data{
    text-align: center;
}

.home_title{
    font-size: var(--font-size-big);
    color: var(--white-color);
    letter-spacing: 2px;
    padding-bottom: 1rem;
}

.home_title b{
    color: var(--first-color);
}

.home_description{
    color: var(--white-color);
    font-size: var(--font-size-normal);
    letter-spacing: 1px;
    padding-bottom: 4rem;
}

/* ANIMES */
.anime{
    text-align: center;
}

.section_title{
    color: var(--first-color);
    letter-spacing: 2px;
    padding-bottom: 2rem;
}

.adicionar{
    display: flex;
    justify-content: center;
    user-select: none;
}

.input_adicionar{
    background: var(--back-color-alt);
    padding: 8px;
    padding-inline: 15px;
    border: none; outline: none;
    border-radius: 1rem 0 0 1rem;
    color: var(--second-color);
    font-size: var(--font-normal);
}

.button_adicionar{
    display: flex;
    justify-content: center; align-items: center;
    background: var(--second-color);
    border: none; outline: none;
    width: 40px;
    font-size: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    transition: background .4s;
    cursor: pointer;
}

.button_adicionar:hover{
    background: var(--second-color-alt);
}

.anime_container{
    padding-top: 4rem;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;
}

.anime_card{
    position: relative;
    background: linear-gradient(to left top,
     rgba(8, 8, 8, 1), var(--back-color-alt));
    padding: 30px;
    border-radius: 1rem;
    text-align: start;
    box-shadow: 0 0 10px var(--shadow-color);
}

.anime_card:hover .anime_card_img{
    transform: translateY(-.2rem);
}

.anime_card_img{
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: transform .4s;
    user-select: none;
}

.anime_card_data{
    padding-top: 1rem;
}

.anime_card_title{
    color: var(--second-color);
    font-size: var(--font-size-big);
}

.anime_card_description{
    padding-top: 1rem;
    font-size: var(--font-size-small);
    color: var(--white-color);
}

.anime_card_description b{
    color: var(--second-color-alt);
}


/* FOOTER */
.footer{
    display: flex;
    width: 100%; height: var(--height-size);
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.footer_title{
    position: relative;
    font-size: var(--font-size-small);
}

.footer_title::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 80%;
    margin-top: 1px;
    margin-left: 3px;
    background: var(--white-color);
    -webkit-animation: cursortext 1s linear infinite;
}

.sociais{
    display: flex;
    column-gap: 1rem;
}

.sociais a{
    color: var(--white-color);
    font-size: 1.2rem;
    transition: transform .4s, color .3s;
}

.sociais a:hover{
    transform: translateY(-.1rem);
    color: var(--second-color);
}

/* ANIMAÇÕES */
@keyframes logo {
    0%{
        left: -55px;
    }
    50%{
        left: 110px;
    }
    100%{
        left: -65px;
    }
}

@keyframes cursortext {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: 0;
    }
}

/* SELECTION */
/* texto normal */
.home_title::selection,
.home_description::selection,
.home_title b::selection,
.footer_title::selection,
.anime_card_title::selection,
.anime_card_description::selection,
.anime_card_description b::selection,
.anime_card_description br::selection{
    background: var(--white-color);
    color: var(--back-color-alt);
}

/* texto title */
.section_title::selection{
    background: var(--first-color);
    color: var(--back-color-alt);
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 8px;
    background: var(--back-color);
}

::-webkit-scrollbar-thumb{
    background: var(--first-color);
    border-radius: 6px;
}

/* BOTAO PRA SUBIR A PÁGINA */
.subir_button{
    position: fixed;
    bottom: 1.5rem; right: 1.5rem;
    display: flex;
    z-index: var(--zfixed);
}

.subir_button a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--second-color);
    transition: color .3s, transform .4s;
}

.subir_button a:hover{
    color: var(--second-color-alt);
    transform: translateY(-.1rem);
}

/* QUEBRAS DE LINHA */
@media screen and (min-width: 767px) {
    .nav_list{
        flex-direction: row;
        column-gap: 1.5rem;
    }

    .nav_close, .nav_toggle{
        display: none;
    }

    .home_container{
        justify-content: center;
        grid-template-columns: 300px 300px;
        padding-top: 7rem; padding-bottom: 7rem;
        gap: 4rem;
    }

    .home_img{
        width: 300px;
    }

    .home_data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }

    .home_title{
        font-size: calc(var(--font-size-big) + .2rem);
    }

    .home_description{
        padding-bottom: 1rem;
    }

    .home_button{
        justify-content: start;
    }

    .anime_container{
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (min-width: 969px) {
    .anime_container{
        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (min-width: 1094px) {
    .anime_container{
        grid-template-columns: repeat(4, 250px);
    }
}

@media screen and (min-width: 1164px) {
    .container{
        margin-inline: auto;
    }

    .anime_container{
        grid-template-columns: repeat(2, 550px);
    }

    .anime_card_img{
        width: 80px;
    }

    .anime_card{
        display: flex;
        justify-content: space-evenly;
    }
}